apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: pokero-ingress
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
spec:
  ingressClassName: nginx
  tls:
    - hosts:
        - pokerteki.mom
      secretName: pokero-tls-secret
  rules:
    - http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: pokero-app 
                port:
                  number: 8000 
