apiVersion: "acid.zalan.do/v1"
kind: postgresql
metadata:
  name: {{ .Release.Name }}-db-cluster
  labels:
    app: {{ .Release.Name }}-db
spec:
  teamId: "pokero" 
  volume:
    size: {{ .Values.db.storageSize }}
  numberOfInstances: 2 
  users:
    {{ .Values.app.env.postgres_user }}:
      - superuser
      - createdb
  databases:
    {{ .Values.app.env.postgres_db }}: {{ .Values.app.env.postgres_user }}
  postgresql:
    version: "17" 
  
  resources:
    requests:
      cpu: {{ .Values.db.resources.requests.cpu }}
      memory: {{ .Values.db.resources.requests.memory }}
    limits:
      cpu: {{ .Values.db.resources.limits.cpu }}
      memory: {{ .Values.db.resources.limits.memory }}
