{% extends "base.html" %}

{% block content %}
<div class="border-b border-white/10 px-4 py-5 sm:px-6">
  <div class="-mt-2 -ml-4 flex flex-wrap items-center justify-between sm:flex-nowrap">
    <div class="mt-2 ml-4">
      <a class="text-4xl font-semibold text-white hover:text-indigo-500" href="{% url 'tables_list_view' %}">Pokero</a>
    </div>
    <div class="flex mt-2 ml-4 shrink-0 gap-x-2">
      <form action="{% url 'logout' %}" method="post" class="flex">
        {% csrf_token %}
        <button type="submit" class="relative inline-flex items-center rounded-md outline-2 outline-indigo-500  px-3 py-2 text-sm font-semibold text-white hover:bg-indigo-300 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">Logout</button>
      </form>
    </div>
  </div>
</div>

<div class="border-b border-white/10 px-4 py-5 sm:px-6">
  <div class="-mt-2 -ml-4 flex flex-wrap items-center justify-between sm:flex-nowrap">
    <div class="mt-2 ml-4">
      <h3 class="text-base font-semibold text-white">Game tables</h3>
    </div>
    <div class="flex mt-2 ml-4 shrink-0 gap-x-2">
      <a href="{% url 'table_create_view' %}" class="relative inline-flex items-center rounded-md bg-indigo-500 px-3 py-2 text-sm font-semibold text-white hover:bg-indigo-400 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">Create new table</a>
    </div>
  </div>
</div>

<ul role="list" class="divide-y divide-white/5 px-4 sm:px-6">
  {% for item in object_list %}
  <a href="{% url 'table_object_view' item.pk %}" class="flex justify-between gap-x-6 py-5">
    <div class="flex min-w-0 gap-x-4">
      <div class="min-w-0 flex-auto">
  	<p class="text-sm/6 font-semibold text-white">{{item.name}}</p>
	{% if item.games.count == 1 %}
	  <p class="mt-1 truncate text-xs/5 text-gray-400">{{item.games.count}} game</p>
	{% else %}
	  <p class="mt-1 truncate text-xs/5 text-gray-400">{{item.games.count}} games</p>
	{% endif %}
      </div>
    </div>
    <div class="hidden shrink-0 sm:flex sm:flex-col sm:items-end">
      <p class="text-sm/6 text-white">Hosted by {{item.dealer}}</p>
      <p class="mt-1 text-xs/5 text-gray-400">Created at <time datetime="{{item.play_date}}">{{item.play_date}}</time></p>
    </div>
  </a>
  {% empty %}
    <div class="text-center py-10">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="mx-auto size-12 text-gray-500">
  	<path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
      </svg>
      <h3 class="mt-2 text-sm font-semibold text-white">No tables</h3>
      <p class="mt-1 text-sm text-gray-400">Get started by creating a new table.</p>
      <div class="mt-6">
	<a href="{% url 'table_create_view' %}" class="inline-flex items-center rounded-md bg-indigo-500 px-3 py-2 text-sm font-semibold text-white hover:bg-indigo-400 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">
	  Create new table 
	</a>
      </div>
    </div>
  {% endfor %}
</ul>

{% if object_list %}
<nav aria-label="Pagination" class="flex items-center justify-between border-t border-white/10 px-4 py-3 sm:px-6">
  <div class="hidden sm:block">
    {% if page_obj.has_previous %}
    <p class="text-sm text-gray-300">
      Page
      <span class="font-medium">{{page_obj.number}}</span>
      of
      <span class="font-medium">{{paginator.num_pages}}</span>
    </p>
    {% endif %}
  </div>
  <div class="flex flex-1 justify-between sm:justify-end">
    {% if page_obj.has_previous %}
      <a href="?page={{ page_obj.previous_page_number }}" class="relative inline-flex items-center rounded-md bg-white/10 px-3 py-2 text-sm font-semibold text-gray-200 inset-ring inset-ring-white/5 hover:bg-white/20">Previous</a>
    {% endif %}
    {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}" class="relative ml-3 inline-flex items-center rounded-md bg-white/10 px-3 py-2 text-sm font-semibold text-gray-200 inset-ring inset-ring-white/5 hover:bg-white/20">next</a>
    {% endif %}

  </div>
</nav>
{% endif %}
{% endblock %}
