{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}
<div class="border-b border-white/10 px-4 py-5 sm:px-6">
  <div class="-mt-2 -ml-4 flex flex-wrap items-center justify-between sm:flex-nowrap">
    <div class="mt-2 ml-4">
      <a class="text-4xl font-semibold text-white hover:text-indigo-500" href="{% url 'tables_list_view' %}">Pokero</a>
    </div>
    <div class="flex mt-2 ml-4 shrink-0 gap-x-2">
      <form action="{% url 'logout' %}" method="post" class="flex">
        {% csrf_token %}
        <button type="submit" class="relative inline-flex items-center rounded-md outline-2 outline-indigo-500  px-3 py-2 text-sm font-semibold text-white hover:bg-indigo-300 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">Logout</button>
      </form>
    </div>
  </div>
</div>

<form class="p-6" method="post">
  {% csrf_token %}
  <div class="space-y-12">
    <div class="border-b border-white/10 pb-12">
      <h2 class="text-base/7 font-semibold text-white">Create new table</h2>
      <p class="mt-1 text-sm/6 text-gray-400">Later you'll be able to add games to it.</p>

      <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
        <div class="sm:col-span-4">
          <label for="username" class="block text-sm/6 font-medium text-white">Name</label>
          <div class="mt-2">
	      <div class="flex items-center rounded-md bg-white/5 pl-3 outline-1 -outline-offset-1 outline-white/10 focus-within:outline-2 focus-within:-outline-offset-2 focus-within:outline-indigo-500">
		{% render_field form.name class+="block min-w-0 grow bg-transparent py-1.5 pr-3 pl-1 text-base text-white placeholder:text-gray-500 focus:outline-none sm:text-sm/6" %}
            </div>
          </div>
        </div>
      </div>

      <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
        <div class="sm:col-span-4">
          <label for="username" class="block text-sm/6 font-medium text-white">Dealer</label>
          <div class="mt-2">
            <div class="mt-2 grid grid-cols-1">
	      {% render_field form.dealer class+="col-start-1 row-start-1 w-full appearance-none rounded-md bg-white/5 py-1.5 pr-8 pl-3 text-base text-white outline-1 -outline-offset-1 outline-white/10 *:bg-gray-800 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-500 sm:text-sm/6" %}
	      <svg viewBox="0 0 16 16" fill="currentColor" data-slot="icon" aria-hidden="true" class="pointer-events-none col-start-1 row-start-1 mr-2 size-5 self-center justify-self-end text-gray-400 sm:size-4">
                <path d="M4.22 6.22a.75.75 0 0 1 1.06 0L8 8.94l2.72-2.72a.75.75 0 1 1 1.06 1.06l-3.25 3.25a.75.75 0 0 1-1.06 0L4.22 7.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" fill-rule="evenodd" />
              </svg>
	    </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-6 flex items-center justify-end gap-x-6">
    <a href="{% url 'tables_list_view' %}" class="text-sm/6 font-semibold text-white">Cancel</a>
    <button type="submit" class="rounded-md bg-indigo-500 px-3 py-2 text-sm font-semibold text-white focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">Save</button>
  </div>
</form>
{% endblock %}
